<body>
  <div id ="pro">
    <div class="row">
      <div class="col-xs-12">
      <!-- top nav -->
    <nav class="top_nav d-flex pt-3 pb-1">
      <!-- logo -->
      <h1>
          <a class="navbar-brand">fh
          </a>
      </h1>
      <!-- //logo -->
 
        <nav class="navbar  nav-justified">

               <div class="navbar-collapse navbar-left"  >
                   <form class="form-inline my-2">
                 <ul class="nav navbar-left">
                   <li ><a href="#"><span class="glyphicon glyphicon-home"></span>Home</a></li>
                   <li ><a href="#"><span class="glyphicon glyphicon-earphone"></span>Contact</a></li>
                   <li><a href="#"><span class="glyphicon glyphicon-info-sign"></span>About</a></li>
                   <li><a href="#"><span class="glyphicon glyphicon-shopping-cart"></span>Cart</a></li>
                </ul>
            </form>
           
            <form class="navbar-form navbar-right">
    
                <a class="btn btn-primary" [routerLink]="['/register']">Sign up</a>
                <a class="btn btn-outline-secondary" [routerLink]="['/login']">Login</a>
            </form>
            <form class="navbar-form navbar-right" role="search">
                <div class="form-group" style="padding: left 10px;">
                  <input type="text" class="form-control"placeholder=" Search" />
                  
                 </div>
                 <button type="submit" class="btn btn-danger">submit</button>
              </form>
               </div>
               
              </nav>
    </nav>
    </div>
      </div>
        </div>
        <div class="container">
        
          <nav class="navbar  nav-justified">

            <div class="navbar-collapse navbar-left"  >
                <form class="form-inline my-2">
              <ul class="nav navbar-left">
                <li ><a href="#">Products</a></li>
                <li ><a href="#">Brands</a></li>
              </ul>
                </form>
            </div>
          </nav>
        </div>
      
</body>