<footer>
        <div class="footer">
        <div class="container">
            <div class="row ">
                <div class="footer-col">
                <h4>HOME</h4>
                <ul>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Products</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
                    </div>
                <div class="footer-col">
                    <h4>PRODUCTS</h4>
                    <ul>
                        <li><a href="#">Kitchen Hygien products</a></li>
                        <li><a href="#">Sanitizers-disinfection products</a></li>
                        
                    </ul>
                </div>
                
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQP_RssVXCEQ4I_mD0LM3zWJ2VDHgUgkaf5WUSrooQPi2QCEkl_vbuVbmTzISDQtHNCMFE&usqp=CAU" width="200" height="200">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcReIX2-8i9PPZpJQc_kEBhYnE3fcKZA-ZNbGg&usqp=CAU"  width="200" height="200">                                          
                <p>© PRO TECH 2021- Powered by Copyright</p> 
                </div>
        </div>
        </div>
</footer>
